<div class="row">
  <div class="col-xs-12">
    <img [src]="recipeInDetails.imagePath" [alt]="recipeInDetails.name" class="img-responsive" style="max-height: 100px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipeInDetails.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a (click)="toShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a style="cursor: pointer;" [routerLink]="'edit'">Edit Recipe</a></li>
        <li><a style="cursor: pointer;" (click)="onRecipeDelete()" [routerLink]="'../'">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipeInDetails.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let i of recipeInDetails.ingredients">{{ i.name }} - {{ i.amount }}</li>
    </ul>
  </div>
</div>
