<div class="row">
  <div class="col-xs-10">
    <app-shopping-list-edit></app-shopping-list-edit>
    <hr>
    <ul class="list-group">
      <a *ngFor="let ingredient of ingredients; let i = index" class="list-group-item" style="cursor: pointer" (click)="onEditItem(i)">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
