<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form #form="ngForm" (ngSubmit)="onSignup(form)">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" id="email" name="email" ngModel class="form-control" required email #email="ngModel">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <li *ngIf="email.errors['email']">Enter valid email</li>
          <li *ngIf="email.errors['required']">Email is required</li>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control" minlength="6" required #password="ngModel">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
          <li>Password must has at least 6 characters</li>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Sign Up</button>
    </form>
  </div>
</div>
