<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form #form="ngForm" (ngSubmit)="onSignin(form)">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" id="email" name="email" ngModel class="form-control" required #email="ngModel">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          Email is required
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control" required #password="ngModel">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
          Password  is required
        </div>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Sign In</button>
    </form>
  </div>
</div>
